html {
    overflow: hidden;
}

body {
    background-image: url("Assets/foggy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: center;
    background-attachment: fixed;
}

.raindrop {
    position: absolute;
    height: 8%;
    width: auto;
    pointer-events: none;
}